@import "tailwindcss";

html {
  background-color: white;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gilroy), Arial, Helvetica, sans-serif;
}
button {
  cursor: pointer;
}